<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/authenticated_layout.html}">
<head>
</head>
<body>
<div class="container" layout:fragment="content">

    <div class="row col-6 mx-auto">
        <h3> HOME PAGE </h3>
        <p>
            <a th:href="@{/app/login}">Login</a> or create one <a th:href="@{/user/list}">User management</a>
        </p>
        <p><a th:href="@{/admin/home}">Admin</a></p>

    </div>
</div>
</body>
</html>