<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<p>
    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
</p>
<form id="form-logout" th:action="@{/app/logout}" method="post" style="display: none;">
</form>
<a href="#" class="nav-link"
   onclick="document.getElementById('form-logout').submit(); return false;">
    Se déconnecter
</a>
</body>
</html>