<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poseidon</title>
</head>
<body>
<div class="container">

    <div class="row pt-5">
        <div class="col-6 mx-auto pt-5 border border-dark">
            <form method="post" th:action="@{/app/login}">

                <div class="mb-3 text-center">
                    <h4 class="bg-warning text-white py-2 px-4 d-inline-block rounded">Pay My Buddy</h4>
                </div>

                <div class="mb-3">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="user" required>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" value="Password@1" required>
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>