<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/authenticated_layout.html}">
<head>
</head>
<body>
<div class="container" layout:fragment="content">

    <div class="row">
        <h2>Trade List</h2>
    </div>
    <div class="row mb-3">
        <div class="col">
            <a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Buy Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trade : ${tradeList}">
                <td style="width: 10%" th:text="${trade.id}"></td>
                <td th:text="${trade.account}"></td>
                <td th:text="${trade.type}"></td>
                <td th:text="${trade.buyQuantity}"></td>
                <td style="width: 15%" class="text-center">

                    <a th:href="@{/trade/update/{id}(id=${trade.id})}"
                       class="btn btn-warning btn-sm text-white">
                        <i class="fa-solid fa-pencil"></i> Edit
                    </a>

                    <button type="button" class="btn btn-danger btn-sm"
                            th:attr="onclick='modalDeleteShow(' + ${trade.id} + ')'">
                        <i class="fa-solid fa-trash-can"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal : delete bid confirmation  -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the trade <b id="modalDeleteTradeId"></b> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="modalDeleteA" href="#" class="btn btn-danger">Confirm Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function modalDeleteShow(id) {
            document.getElementById("modalDeleteA").href = "/trade/delete/" + id;
            document.getElementById("modalDeleteTradeId").textContent = id;
            var myModal = new bootstrap.Modal(document.getElementById('modalDelete'));
            myModal.show();
        }
    </script>
</div>
</body>
</html>